<%= form_with(model: cat3, local: true) do |form| %>
  <% if cat3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cat3.errors.count, "error") %> prohibited this cat3 from being saved:</h2>

      <ul>
      <% cat3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cat1_id %>
    <%- Cat1.all.each do |cat1| %>
      <label>
        <%= radio_button_tag :cat1, cat1.id, cat1.id == cat3&.cat2&.cat1_id, class: 'radio-cat1' %>
        <%= cat1&.name %>
      </label>
    <%- end -%>
  </div>

  <div class="field">
    <%= form.label :cat2_id %>
    <%= form.collection_radio_buttons(:cat2_id, Cat2.all, :id, :name) do |b| %>
      <%= b.label(class: 'radio-cat2', 'data-cat1-id': b.object&.cat1_id) { b.radio_button + b.text } %>
    <%- end -%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
