<p id="notice"><%= notice %></p>

<p>
  <strong>Cat2:</strong>
  <%= @cat3.cat2 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cat3.name %>
</p>

<%= link_to 'Edit', edit_cat3_path(@cat3) %> |
<%= link_to 'Back', cat3s_path %>
