<p id="notice"><%= notice %></p>

<p>
  <strong>Cat1:</strong>
  <%= @cat2.cat1 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cat2.name %>
</p>

<%= link_to 'Edit', edit_cat2_path(@cat2) %> |
<%= link_to 'Back', cat2s_path %>
